body {
    margin: 1em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 2px solid pink;
    width: 400px;
    text-align: center;

}

img {
    width: 450px;
    height: 300px;
    margin: 1em;
    transition: all 1s;
}

img:hover {
    transform: scale(1.1);
}